* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url("Images/Explanation-01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

.container {
    width: 100%;
    min-height: 50vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    float: left;
    padding: 0;
    margin-left: 16px;
    margin-top: -2%;
    position: absolute;
    max-width: 15%;
    height: auto;
}
.logo a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}
nav {
    padding-top: 2%;
}
nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    float: left;
    padding: 10px;
}
nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}
nav ul li a {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
}

nav ul li a:hover {
    background: -webkit-linear-gradient(#9F8027, #FDD485, #E4AB4A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* FOOTER */
footer {
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    background: -webkit-linear-gradient(#9F8027, #FDD485, #E4AB4A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 20px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 2rem;
    transition: color .4s ease;
}

.socials a:hover {
    font-size: 2rem;
    background: -moz-linear-gradient(top, #9f8027 0%, #fdd485 50%, #E4AB4A 100%);
    background: -webkit-linear-gradient(top, #9f8027 0%, #fdd485 50%, #E4AB4A 100%);
    background: linear-gradient(top, #9f8027 0%, #fdd485 50%, #E4AB4A 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.copyrighText {
    max-width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}
@media screen and (max-width: 864px) {
    .logo {
        margin-top: -1%;
        padding: 0px;
        max-width: 20%;
        height: auto;
        position: absolute;
    }
    .nav-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        z-index: -1;
        background: #222222;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.1s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(5) a {
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }

    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }

    nav ul li a:hover {
        color: rgba(255, 223, 0, 1);
    }

    .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 25px;
        height: 2px;
        background: #fff;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }

    .copyrighText {
        padding: 8px 100px;
    }
}
#nav:checked+.nav-btn {
    transform: rotate(45deg);
}

#nav:checked+.nav-btn i {
    background: #fff;
    transition: transform 0.2s ease;
}

#nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked+.nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked~.nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}