* {
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-weight: 400;
    background-image: url("Images/Header.jpg");
    background-position: center;
    background-size: cover;
}

nav {
    padding: 2%;
}

.logo {
    float: left;
    padding: 5px;
    margin-left: 16px;
    margin-top: -1%;
    position: absolute;
    max-width: 20%;
    height: auto;
}

.logo a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    float: left;
    padding: 10px;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
}
nav ul li a:hover {
    color: rgba(255, 223, 0, 1);
}

@media screen and (max-width: 864px) {
    .logo {
        margin-top: -1%;
        padding: 0px;
        width: 40%;
        height: 10%;
        position: absolute;
    }

    .nav-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 30%;
        height: 100%;
        z-index: -1;
        background: #222222;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.1s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.4s;
    }
    .nav-wrapper ul li:nth-child(5) a {
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }

    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }

    nav ul li a:hover {
        color: rgba(255, 223, 0, 1);
    }

    .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 25px;
        height: 2px;
        background: #fff;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }

    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col-2 .test {
        width: 77%;

    }

    .color-box {
        transform: translateX(40px);
    }

    .col-1 {
        flex-basis: 100%;
    }

    .col-1 h2 {
        font-size: 35px;
    }

    .col-1 h3 {
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    .logo {
        margin-top: -0.5%;
        padding: 0px;
        width: 40%;
        height: 10%;
        position: absolute;
    }
    footer {
        padding: 40px;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container .row .sec.FooterContactUs,
    .sec.QuickLinks, .sec.location {
        width: 100%;
    }

    .copyrighText {
        padding: 8px 100px;
    }
}

#nav:checked+.nav-btn {
    transform: rotate(45deg);
}

#nav:checked+.nav-btn i {
    background: #fff;
    transition: transform 0.2s ease;
}

#nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked+.nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked~.nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

/* Homepage */
.row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 11% 7%;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2 {
    text-align: left;
    color: #ffd700;
    font-size: 54px;
    margin: 10px 0;
}

.col-1 h3 {
    text-align: left;
    font-size: 30px;
    font-weight: 100;
    margin: 10px 0;
}

button {
    width: 130px;
    border: 0;
    padding: 10px 10px;
    outline: none;
    border: 2px solid #ffd700;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

p {
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

button img {
    width: 30px;
    display: none;
}

button:hover img {
    display: block;
}

button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(240, 188, 99, 1), rgba(255, 223, 0, 1));
    border: 2px solid #000;
}

.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    margin-left: 20%;
    align-items: center;
}

.col-2 .test {
    margin-top: -5%;
    margin-left: auto; 
    max-width: 90%;
    height: auto;
    border-radius: 20px;
}
.col-2 .test {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
     /* transform: rotate(0.3rad);/ */
     /* transform: rotate(3grad); */ 
     /* transform: rotate(.03turn);  */
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, #ffd700, #FC8862);
    border-radius: 20px;
    height: 110%;
    width: 80%;
    z-index: -1;
}

/* FOOTER */
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .container .sec {
    margin-right: 30px;
}

footer .container .sec.FooterContactUs {
    width: 40%;
}

footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ffd700;
}

footer p {
    color: #999;
}

.cta {
    margin-top: 20px;
    display: flex;
}

.cta li {
    list-style: none;
}

.cta li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.cta li a:hover {
    background: linear-gradient(to right, #ffd700, #FC8862);
}

.cta li a .fab {
    color: #fff;
    font-size: 20px;
}

.QuickLinks {
    position: relative;
    width: 25%;
}

.QuickLinks ul li {
    list-style: none;
}

.QuickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.QuickLinks ul li a:hover {
    color: #fff;
}

.location {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.location ul li {
    list-style: none;
}

.location .info {
    position: relative;
}

.location .info li {
    display: flex;
    margin-bottom: 16px;
}

.location .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.location .info li span {
    color: #999;
}

.location .info li a {
    color: #999;
    text-decoration: none;
}

.location .info li a:hover {
    color: #fff;
}

.copyrighText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}