* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    width: 100%;
    height: auto;
    background: #000;
    background-position: center;
    background-repeat: no-repeat;
    /* overflow-x: hidden; */
}

.container {
    width: auto;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

#navigationBar {
    background-color: #000;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    float: left;
    padding: 0;
    margin-left: 16px;
    position: absolute;
    max-width: 15%;
    height: auto;
}

.logo a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav {
    padding-top: 2%;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    float: left;
    padding: 10px;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    background: -webkit-linear-gradient(#9F8027, #FDD485, #E4AB4A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
}

nav ul li a:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 864px) {
    .logo {
        margin-top: -1%;
        padding: 0px;
        max-width: 20%;
        height: auto;
        position: absolute;
    }

    .container {
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
        box-sizing: border-box;
        overflow: hidden;
    }

    video, .home-logo{
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .nav-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        z-index: -1;
        background: #222222;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.1s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(5) a {
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }

    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }

    nav ul li a:hover {
        background: -webkit-linear-gradient(#9F8027, #FDD485, #E4AB4A);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 25px;
        height: 2px;
        background: #fff;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }

    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col-2 .test {
        width: 77%;

    }

    .col-1 {
        flex-basis: 100%;
    }

    .col-1 h2 {
        font-size: 35px;
    }

    .col-1 h3 {
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    .logo {
        margin-top: -0.5%;
        padding: 0px;
        max-width: 30%;
        height: auto;
        position: absolute;
    }

    .copyrighText {
        padding: 8px 100px;
    }
}

#nav:checked+.nav-btn {
    transform: rotate(45deg);
}

#nav:checked+.nav-btn i {
    background: #fff;
    transition: transform 0.2s ease;
}

#nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked+.nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked~.nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

/* Homepage */
#Home {
    background-image: url("Images/Explanation-01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
}

.home-logo {
    display: flex;
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    height: auto;
}
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row-timeline {
    padding-top: 7%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 11% 7%;
}

button {
    width: 130px;
    border: 0;
    padding: 10px 10px;
    outline: none;
    border: 2px solid #ffd700;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

p {
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

button img {
    width: 30px;
    display: none;
}

button:hover img {
    display: block;
}

button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #ffd700, #FC8862);
    border: 2px solid #000;
}

#Explanation {
    background-image: url("Images/Explanation-01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: auto;
    height: auto;
}

.explanation .ambass-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 66%;
    height: auto;
}

.explanation h1 {
    background: -webkit-linear-gradient(#9F8027 0%, #FDD485 25%, #E4AB4A 50%, #FDD485 75%, #9F8027 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    /* font-size: 4rem; */
    margin: auto;
    padding: 3% 0 1%;
}

@media screen and (min-width: 601px) {

    .explanation h1,
    .training h1 {
        font-size: 80px;
    }

    .explanation p,
    .iridescent p {
        font-size: 28px
    }
}

@media screen and (max-width: 600px) {

    .explanation h1,
    .training h1 {
        font-size: 40px;
    }

    .explanation p,
    .iridescent p {
        font-size: 18px;
    }
}

.explanation p {
    padding: 1% 15% 5%;
    /* font-size: 1.5rem; */
    text-align: center;
    text-justify: inter-word;
    line-height: 2;
    margin: auto;
}

.explanation p span {
    background: -webkit-linear-gradient(#9F8027, #FDD485, #E4AB4A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Iridescent {
    background-image: url("Images/Explanation-01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

.iridescent .iridescent-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    max-width: 50%;
    height: auto;
}

.iridescent p {
    background: -webkit-linear-gradient(#9F8027, #FDD485, #E4AB4A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2% 15% 5%;
    /* font-size: 1.5rem; */
    text-align: center;
    text-justify: inter-word;
    line-height: 2;
    margin: auto;
    text-transform: uppercase;
}

/* Timeline */
#Timeline {
    background-image: url("Images/Explanation-01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

.training h1 {
    background: -webkit-linear-gradient(#9F8027 0%, #FDD485 25%, #E4AB4A 50%, #FDD485 75%, #9F8027 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    /* font-size: 4REM; */
    margin: auto;
}

.main-timeline {
    margin: -13% 0;
    position: relative;
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient(#9F8027, #FDD485, #E4AB4A);
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative;
}

.main-timeline .timeline::after {
    content: "";
    display: block;
    clear: both;
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main-timeline .icon::before,
.main-timeline .icon::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s;
}

.main-timeline .icon::before {
    background: #000;
    border: 2px solid #fdd485;
    left: -3px;
}

.main-timeline .icon::after {
    border: 2px solid #e4ab4a;
    left: 3px;
}

.main-timeline .timeline:hover .icon::before {
    left: 3px;
}

.main-timeline .timeline:hover .icon::after {
    left: -3px;
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    position: relative;
    margin-top: 5.3%;
}

.main-timeline .date-content::before {
    content: "";
    width: 32.5%;
    height: 2px;
    background: -webkit-linear-gradient(#9F8027, #FDD485, #E4AB4A);
    margin: auto 0;
    position: absolute;
    top: 2%;
    right: 10px;
    bottom: 0;
}

.main-timeline .date-outer {
    width: 175px;
    height: 175px;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin: auto;
    z-index: 1;
}

.main-timeline .date-outer::before,
.main-timeline .date-outer::after {
    content: "";
    width: 175px;
    height: 175px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
}

.main-timeline .date-outer::before {
    background: #000;
    border: 2px solid #Fdd485;
    left: -6px;
}

.main-timeline .date-outer::after {
    border: 2px solid #e4ab4a;
    left: 6px;
}

.main-timeline .timeline:hover .date-outer::before {
    left: 6px;
}

.main-timeline .timeline:hover .date-outer::after {
    left: -6px;
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 33%;
    left: 0;
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    line-height: 36px;
}

.main-timeline .year-audition {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    line-height: 36px;
    margin-top: 1.6%;
}


.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right;
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
}

.main-timeline .timeline-content .gt {
    max-width: 80%;
    height: auto;
    border-image-source: -webkit-linear-gradient(#9F8027, #FDD485, #E4AB4A);
    margin-top: -5%;
}

.main-timeline .timeline-content .pict {
    max-width: 80%;
    height: auto;
    border-image-source: -webkit-linear-gradient(#9F8027, #FDD485, #E4AB4A);
    margin-top: -3.2%;
}

.main-timeline .timeline-content .rtgf {
    max-width: 80%;
    height: auto;
    border-image-source: linear-gradient(#9F8027, #FDD485, #E4AB4A);
    margin-top: 6.5%;
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    color: #fff;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

.main-timeline .description {
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right;
}

.main-timeline .timeline:nth-child(2n) .date-content::before {
    left: 10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right;
}

@media only screen and (max-width: 990px) {
    .main-timeline .date-content:before {
        width: 22.5%;
    }

    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px;
    }

    .main-timeline .title {
        font-size: 17px;
    }

    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0;
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px;
    }

    .main-timeline .timeline {
        margin-bottom: 20px;
    }

    .main-timeline .icon {
        margin: auto 0;
    }

    .main-timeline .date-content {
        width: 95%;
        float: right;
    }

    .main-timeline .date-content::before {
        display: none;
    }

    .main-timeline .date-outer,
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 130px;
        height: 130px;
    }

    .main-timeline .date {
        top: 30%;
    }

    .main-timeline .year {
        font-size: 26px;
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0;
    }

    .main-timeline .title {
        margin-bottom: 10px;
    }
}


.column {
    float: left;
    width: 33.3%;
    margin-top: -5%;
    margin-bottom: -10%;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.container {
    padding: 0 16px;
}

/* .container h2{
    text-align: center;
} */

.container p {
    text-align: justify;
}

.column-2 {
    float: left;
    width: 50%;
    margin-top: -10%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* .container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
} */

.title {
    color: grey;
}

.copyrighText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}